[Desktop Entry]
Encoding=UTF-8
Name=Headset-Battery
Comment=Check battery of your headset
Icon=audio-headset
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alessandro Toia
X-KDE-PluginInfo-Email=gort818@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=headsetcontrol
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Windows and Tasks

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
